@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



.LeftMenu::-webkit-scrollbar, .TopPostArea::-webkit-scrollbar {
    display: none;
}

.LeftMenu a, .PostArea a, .RightMenu a {
    text-decoration: none;
    color: white;
}


body {
    background: linear-gradient(65deg, #ffbc92 30%, #ff3265);
}

h1, h2, h3, h4, h5 {
    color: white;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.377);
    font-family: 'Roboto', sans-serif;
}



/* LEFT */
.Left {
    position: fixed;
    height: 100vh;

    padding-right: 0;
    z-index: 1;
}
    /* BRAND */
    .Brand {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
    .Brand * {
        margin: auto;
    }
    .Brand img {
        width: 25%;
        height: 10%;
    }
    .Brand h1 {
        font-size: calc(3rem + 2vmin);
    }
    /* LEFT MENU */
    .LeftMenu {
        border: 2px solid ;
        border-bottom: none;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        height: 100%;
        padding: 0 5% 40%;

        overflow-y: scroll;

        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);

        background: linear-gradient(65deg, #ffb385 30%, #fc4774 );
        border: 3px solid white;

        position: relative;
        top: 100%;                    /* SETADOS DE BASE PRA CRIAR A ANIMAÇÃO DE SLIDE */
    }

        /* NEW POST FORM */
        .NewPostForm {
            margin-bottom: 20px;
        }
        
        .NewPostForm form {
            position: relative;
            text-align: center;
        }
        .NewPostForm button {
            position: absolute;
            bottom: -10px;
            right: 20px;
            border: none;
            border-radius: 100%;
            background-color: #fae7cb;

            width: 40px;
            height: 40px;

            cursor: pointer;
            outline: none;

            box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.356);
        }
        .NewPostForm textarea {
            resize: none;
            width: 100%;

            border-radius: 40px;
            border: 2px solid;
            outline: 0;
            border: 2px solid #fae7cb;

            padding-left: 5%;
            padding-top: 5%;

            font-size: 1.4rem;
        }
        .NewPostForm textarea::placeholder {
            color: black;
            font-size: 1.2rem;
        }

        .LeftMenu hr {
            border: 2px solid #fae7cb;
            border-radius: 10px;
        }

        /* LIST CONFIGS */
        .ListConfigs ul{
            padding: 0;
            margin: 0;

        }
        .ListConfigs li {
            display: flex;
            padding: 5px 0 5px 5%;
            align-items: center;

            border-bottom-left-radius: 9999px;
            border-bottom-right-radius: 9999px;
            border-top-left-radius: 9999px;
            border-top-right-radius: 9999px;
            
        }
        .ListConfigs li:hover {
            background-color: rgba(0, 0, 0, 0.041);
        }
        .ListConfigs li h4 {
            padding-left: 20px;
        }

        /* MY PROFILE */
        .MyProfile {
            margin-top: 5%;
            display: flex;
            padding-left: 0px;
            align-items: center;

            border-bottom-left-radius: 9999px;
            border-bottom-right-radius: 9999px;
            border-top-left-radius: 9999px;
            border-top-right-radius: 9999px;
        }
        .MyProfile:hover {
            background-color: rgba(0, 0, 0, 0.041);
        }
        .MyProfile * {
            margin: 0 10px 0 0;
        }
        .MyProfile img {
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.329);
        }


    
/* POST AREA */
.PostArea {
    margin-left: calc(100% / 3);
}
.PostArea h1 {
    text-align: center;
    padding: 0;
}
    /* POST */
    .Post {
        border: 2px solid #6f0000;
        border-radius: 30px;
        margin-bottom: 50px;

        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.322);

        background: #fae7cb;

        border: 3px double rgb(240, 183, 183);
    }
        .PostHeader, .PostFooter form{
            display: flex;
            align-items: center;
            padding-left: 2%;
        }
        .PostHeader * {
            margin: 10px 10px 10px 0;
        }
        .PostHeader a {
            display: flex;
            flex-wrap: wrap;
        }
        .PostUserIcon {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            border: 2px solid;

            border: 2px solid white;
        }
        .PostHeader p {
            opacity: 0.8;
        }
        .PostBody, .PostFooter {
            padding: 10px;
        }
        .PostBody {
            border: none;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
        }
        .PostFooter {
            padding: 0;
        }
        .PostFooter form {
            justify-content: space-around;
        }
        .PostFooter form * {
            cursor: pointer;
        }
        .PostFooter form button {
            background: transparent;
            border: none;
            width: 100%;
            height: 100%;
            outline: 0;
            padding: 10px;
        }

            /* ICONS */
            .ThumbUpButton:hover {
                color: #00bdaa;
            }
            .PostFooter .FavoriteBorderButton {
                border-left: 2px solid white;
                border-right: 2px solid white;

            }
            .FavoriteBorderButton:hover {
                color: red;
            }
            .CommentButton:hover {
                color: orange;
            }
    



/* RIGHT*/
.Right {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;

    padding-left: 0;
}
    /* RIGHT MENU */
    .RightMenu {
        border: 2px solid #fae7cb;
        border-top: none;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        height: 88vh;
        padding: 5%;

        display: flex;            /* */
        flex-direction: column;  /*PRA FUNCIONAR O SCROLL DA DIV TOP POST AREA */

        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.377);

        background: linear-gradient(65deg, #fae7cb 5%, #ff7272);
        border: 3px solid white;
        border-top: none;

        position: relative;
        top: -100%;                    /* SETADOS DE BASE PRA CRIAR A ANIMAÇÃO DE SLIDE */
    }
    .RightMenu h2 {
        border-bottom: 1px solid #fae7cb;
        padding-bottom: 5%;
        margin-bottom: 0;
    }
        /* TOP POST AREA */
        .TopPostArea {
            overflow-y: scroll;
            padding-top: 0;
        }

            .Quotation {
                font-style: italic;
                font-size: 1.5rem;
            }
            .TopPost {
                border-top: 1px solid #fae7cb;
                padding-top: 10px;
            }
            .TopPost:last-child {
                border-bottom: 1px solid #fae7cb;
            }
            .TopPost .PostUserIcon {
                float: left;
                margin: 0 10px 0 0;
                border: 2px solid #fae7cb;
            }
            .TopPost p {
                line-height: 1.3;
            }
            /* BUTTONS */
            .Nav {
                text-align: center;
            }
            .Nav ul {
                padding: 0;
                padding-top: 10px;
            }
            .Nav li {
                display: inline;
                padding: 15px;
                list-style: none;
            }



.Down {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;

    z-index: 2;

    margin-bottom: 5px;
    padding: 0 10px;

}
    /* DOWN MENU*/
    .DownMenu {
        background-color: transparent;

        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;

        height: 100%;

        padding: 5px 40px;

        box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.295) ;
        border: 2px solid white;

        backdrop-filter: blur(3px);

        position: relative;
        top: 100%;                    /* SETADOS DE BASE PRA CRIAR A ANIMAÇÃO DE SLIDE */
    }
        /* DOWN MENU COMPONENTS */
        .DownMenuComponents {
            display: flex;
            width: 100%;
            align-items: center;
        }
        
            /* DOWN MENU SEARCH */
            .DownMenuSearch {
                width: 25%;
                display: flex;

                border-bottom-left-radius: 9999px;
                border-bottom-right-radius: 9999px;
                border-top-left-radius: 9999px;
                border-top-right-radius: 9999px;

                padding: 5px;

                border: 2px solid white;
            }
            .DownMenuSearch input {
                width: 100%;
                border: none;
                color: white;

                outline: 0;

                background-color: transparent;
            }
            .DownMenuSearch input::placeholder {
                color: white;
                font-weight: bold;
            }
            .DownMenuSearch span {
                align-self: center;
                height: 100%;
                margin-right: 5px;

                background-color: transparent;
            }


            /* DOWN MENU FRIENDS */
            .DownMenuFriends {
                display: flex;
                width: 75%;
                padding: 0 20px;

                align-items: center;
                justify-content: space-around;


            }

                /* DOWN MENU FRIEND CHAT */
                .DownMenuFriendChat img {
                    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.37);
                    border: 2px solid white;
                }
                .DownMenuFriendChat img:hover {
                    filter: brightness(90%);
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;         /* EFEITO DE ESCURECER O ICONE */  
                    -o-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            
